:root {
	/* color */
	--color-lilac: #c3baec;
	--color-veriperi: #6667ab;
	--color-violet: #4b29a2;
	--color-grey: #d7d8ec;
	--color-blue: #80aced;
	--color-white: rgb(247, 247, 247);
	--color-red: rgb(181, 0, 0);
	--color-darkgrey: darkgrey;

	/* size */
	--size-large: 30px;
	--size-medium: 24px;
	--size-small: 18px;
	--base-space: 10px;
}

/* common */

button {
	background: transparent;
	border: none;
	font-size: var(--size-medium);
	cursor: pointer;
}

* {
	font-family: "Permanent Marker", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	display: flex;
	align-items: center;
	height: 100vh;
}

#container {
	background: rgb(78, 129, 205);
	background: linear-gradient(
		120deg,
		rgb(124, 134, 213) 0%,
		rgb(81, 83, 185) 50%,
		rgb(105, 67, 204) 100%
	);
	margin: calc(var(--base-space) * 5) auto;
	width: 60%;
	height: 80%;
	min-height: 900px;
	border-radius: 5%;
	box-shadow: 10px 10px 10px var(--color-darkgrey);
}

#header {
	height: 10%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--size-large) * 1.3);
	color: white;
}

#header i {
	margin-left: calc(var(--base-space) * 2);
	cursor: auto;
	padding-top: calc(var(--base-space) / 2);
}

#items {
	height: 75%;
	background: var(--color-grey);
	padding: var(--base-space);
	overflow-y: scroll;
}

.item {
	list-style: none;
	font-size: var(--size-medium);
	width: 90%;
	margin: 0 auto;
	color: var(--color-violet);
}

.item__text {
	font-family: "Jua", sans-serif;
	cursor: pointer;
}

.item__checkbox {
	margin: var(--base-space) calc(var(--base-space) * 2);
}

.item__checkbox[type="checkbox"] {
	transform: scale(2);
}

.item__delete {
	float: right;
	margin-right: var(--base-space);
	padding-top: calc(var(--base-space) / 2);
	color: var(--color-violet);
	transition: all 0.3s;
}

.item__delete:hover {
	color: var(--color-red);
	transform: scale(1.2);
}

.item__line {
	clear: both;
	width: 90%;
	height: 2px;
	background: var(--color-lilac);
	margin: var(--base-space) auto;
}

#footer__input {
	width: 100%;
	font-size: var(--size-medium);
	padding: var(--base-space);
	height: 5%;
	outline: none;
	background: var(--color-white);
	border: 1px solid var(--color-grey);
	font-family: "Jua", sans-serif;
}

#footer {
	height: 10%;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

#footer i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(var(--size-large) * 1.2);
	background: var(--color-violet);
	color: var(--color-white);
	border-radius: 60%;
	width: 70px;
	height: 70px;
	padding: var(--base-space);
	transition: all 0.3s;
}

#footer i:hover {
	color: var(--color-violet);
	background: var(--color-white);
	transform: scale(1.1);
}

@media screen and (max-width: 600px) {
	:root {
		/* size */
		--size-large: 20px;
		--size-medium: 16px;
		--size-small: 12px;
		--base-space: 10px;
	}

	#container {
		min-width: 400px;
	}

	#footer i {
		width: 50px;
		height: 50px;
	}
}
