* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: black;
}

.line {
	background: grey;
	position: absolute;
}

.vertical {
	width: 1px;
	height: 100%;
}

.horizon {
	width: 100%;
	height: 1px;
}

.target {
	position: absolute;
	color: white;
}

.coordinates {
	position: absolute;
	color: white;
	font-size: 30px;
	margin: 20px 30px;
}
